.sidebar {
  display: flex;
  justify-content: space-between;
}
.column {
  width: 30%;
  text-align: center;

  margin: 5px;
  border-radius: 25px;
  height: auto;
}
.header1 {
  display: flex;
  white-space: nowrap;
}
.header_in {
  padding: 20px;
}
.header3 {
  padding: 20px;
}
.App {
  min-width: 1100px;
}
